nav {
  background-color: #209052;
}
nav div div img {
  width: 70px;
}
nav div div .titulo {
  font-family: "Rubik Distressed", cursive;
}

* {
  list-style: none;
  text-decoration: none;
}

p, h2, a {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.3em;
}

body {
  background-color: #93d1ba;
}

.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.mainIndex {
  overflow: hidden;
}
.mainIndex .sliderPresentacion {
  width: 100%;
  height: 500px;
}
.mainIndex .sliderPresentacion div button .btnSlider {
  background-color: #0F0E0E !important;
}
.mainIndex .section2Index {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mainIndex .section2Index {
  margin-bottom: 15px;
}
.mainIndex .section2Index h1 {
  margin-bottom: 5px;
  margin-left: 10px;
}
.mainIndex .section2Index p {
  margin-left: 10px;
}
.mainIndex .section3Index {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mainIndex .section3Index {
  margin-bottom: 15px;
}
.mainIndex .section3Index h2 {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 2.7em;
}
.mainIndex .section3Index p {
  margin-left: 10px;
}

main .sobreNosotrosSection1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .sobreNosotrosSection1 {
  margin-top: 15px;
}
main .sobreNosotrosSection1 .sobreNosotrosSection1__h1 {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 1.9em;
}
main .sobreNosotrosSection1 p {
  margin-left: 10px;
}
main .sobreNosotrosSection1 .imgNosotrosConteiner {
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  width: 100%;
  grid-gap: 5px;
}
@media (max-width: 650px) {
  main .sobreNosotrosSection1 .imgNosotrosConteiner {
    grid-template-rows: repeat(2, 300PX);
    grid-template-columns: repeat(2, 1fr);
  }
}
main .sobreNosotrosSection1 .imgNosotrosConteiner .imgSobreNosotros1 {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
@media (max-width: 650px) {
  main .sobreNosotrosSection1 .imgNosotrosConteiner .imgSobreNosotros1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
main .sobreNosotrosSection1 .imgNosotrosConteiner .imgSobreNosotros2 {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
@media (max-width: 650px) {
  main .sobreNosotrosSection1 .imgNosotrosConteiner .imgSobreNosotros2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
main .sobreNosotrosSection2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .sobreNosotrosSection2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .sobreNosotrosSection2 p {
  margin-left: 10px;
  margin-bottom: 15px;
}
main .sobreNosotrosSection2 .divSection2 {
  display: flex;
  align-self: center;
}
main .sobreNosotrosSection2 .divSection2 .imgSobreNosotros3 {
  width: 100%;
}
@media (max-width: 650px) {
  main .sobreNosotrosSection2 {
    margin-top: 120px;
  }
}

main .herramientasSecction1 {
  margin-top: 10px;
}
main .herramientasSecction1 h1 {
  margin-left: 15px;
  font-size: 1.9em;
}
main .herramientasSecction1 p {
  margin-left: 15px;
}
main .herramientasSecction2 {
  margin-top: 10px;
}
main .herramientasSecction2 h2 {
  margin-left: 15px;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner {
  display: grid;
  grid-template-rows: repeat(5, 250px);
  grid-template-columns: repeat(8, 1fr);
  margin-top: 15px;
  margin-bottom: 25PX;
  grid-gap: 5px;
  padding: 10px;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner .imgHerramientasDePoda {
  width: 100%;
  height: 100%;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:first-child {
  grid-column: 1/4;
  grid-row: 1/3;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(2) {
  grid-column: 4/7;
  grid-row: 1/3;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(3) {
  grid-column: 1/5;
  grid-row: 3/5;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(4) {
  grid-column: 7/9;
  grid-row: 1/3;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(5) {
  grid-column: 5/9;
  grid-row: 3/5;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(6) {
  grid-column: 1/4;
  grid-row: 5/6;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(7) {
  grid-column: 4/7;
  grid-row: 5/6;
}
main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(8) {
  grid-column: 7/9;
  grid-row: 5/6;
}
@media (max-width: 800px) {
  main .herramientasSecction2 .imgHerramientasDePodaConteiner {
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(8, 1fr);
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:first-child {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/2;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(3) {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(4) {
    grid-column: 7/9;
    grid-row: 1/2;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(5) {
    grid-column: 5/9;
    grid-row: 2/3;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(6) {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(7) {
    grid-column: 4/7;
    grid-row: 3/4;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(8) {
    grid-column: 7/9;
    grid-row: 3/4;
  }
}
@media (max-width: 540px) {
  main .herramientasSecction2 .imgHerramientasDePodaConteiner {
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(8, 1fr);
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:first-child {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(2) {
    grid-column: 5/9;
    grid-row: 1/2;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(4) {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(3) {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(8) {
    grid-column: 5/9;
    grid-row: 2/3;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(6) {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(7) {
    grid-column: 5/9;
    grid-row: 3/4;
  }
  main .herramientasSecction2 .imgHerramientasDePodaConteiner img:nth-child(5) {
    grid-column: 5/9;
    grid-row: 4/5;
  }
}
main section h2 {
  margin-left: 15px;
}
main section .imgHerramientasDePiscinasConteiner {
  display: grid;
  grid-template-rows: 250px 250px 350px;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 15px;
  padding: 10px;
  grid-gap: 5px;
  margin-bottom: 25px;
}
main section .imgHerramientasDePiscinasConteiner .imgHerramientasDePiscinas {
  width: 100%;
  height: 100%;
}
main section .imgHerramientasDePiscinasConteiner img:first-child {
  grid-row: 1/2;
  grid-column: 3/5;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(2) {
  grid-row: 2/3;
  grid-column: 3/5;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(3) {
  grid-row: 1/2;
  grid-column: 5/7;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(4) {
  grid-row: 1/3;
  grid-column: 1/3;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(5) {
  grid-row: 2/3;
  grid-column: 5/7;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(6) {
  grid-row: 3/4;
  grid-column: 1/5;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(7) {
  grid-row: 3/4;
  grid-column: 5/9;
}
main section .imgHerramientasDePiscinasConteiner img:nth-child(8) {
  grid-row: 1/3;
  grid-column: 7/9;
}
@media (max-width: 800px) {
  main section .imgHerramientasDePiscinasConteiner {
    grid-template-rows: 250px 250px;
    grid-template-columns: repeat(8, 1fr);
  }
  main section .imgHerramientasDePiscinasConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 7/9;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 5/7;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(4) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(5) {
    grid-row: 2/3;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(6) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(7) {
    grid-row: 2/3;
    grid-column: 7/9;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(8) {
    grid-row: 2/3;
    grid-column: 5/7;
  }
}
@media (max-width: 540px) {
  main section .imgHerramientasDePiscinasConteiner {
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(4, 1fr);
  }
  main section .imgHerramientasDePiscinasConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(2) {
    grid-row: 2/3;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(4) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(5) {
    grid-row: 3/4;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/5;
  }
  main section .imgHerramientasDePiscinasConteiner img:nth-child(8) {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}

main .trabajoSection {
  margin-top: 30px;
}
main .trabajoSection .h1Trabajo {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.9em;
}
main .trabajoSection .imgTrabajoConteiner {
  padding: 10px;
  margin-top: 15px;
  margin-left: 7px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-gap: 5px;
}
main .trabajoSection .imgTrabajoConteiner .imgTrabajos {
  width: 100%;
  height: 100%;
}
main .trabajoSection .imgTrabajoConteiner img:first-child {
  grid-row: 1/2;
  grid-column: 1/5;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(2) {
  grid-row: 1/3;
  grid-column: 9/13;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(3) {
  grid-row: 2/4;
  grid-column: 1/4;
  -o-object-fit: initial;
     object-fit: initial;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(4) {
  grid-row: 1/2;
  grid-column: 5/9;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(5) {
  grid-row: 4/5;
  grid-column: 5/10;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(6) {
  grid-row: 4/5;
  grid-column: 1/5;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(7) {
  grid-row: 2/3;
  grid-column: 4/7;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(8) {
  grid-row: 3/5;
  grid-column: 10/13;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(9) {
  grid-row: 3/4;
  grid-column: 8/10;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(10) {
  grid-row: 2/3;
  grid-column: 7/9;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(11) {
  grid-row: 3/4;
  grid-column: 4/8;
}
main .trabajoSection .imgTrabajoConteiner img:nth-child(12) {
  grid-row: 1/2;
  grid-column: 5/9;
}
@media (max-width: 950px) {
  main .trabajoSection .imgTrabajoConteiner {
    grid-template-rows: repeat(6, 250px);
    grid-template-columns: repeat(10, 1fr);
  }
  main .trabajoSection .imgTrabajoConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 1/7;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(2) {
    grid-row: 1/3;
    grid-column: 7/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1/5;
    -o-object-fit: initial;
       object-fit: initial;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(4) {
    grid-row: 5/7;
    grid-column: 7/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(5) {
    grid-row: 4/5;
    grid-column: 5/10;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(6) {
    grid-row: 4/5;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(7) {
    grid-row: 3/5;
    grid-column: 9/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(8) {
    grid-row: 6/7;
    grid-column: 1/7;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(9) {
    grid-row: 2/3;
    grid-column: 5/7;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(10) {
    grid-row: 5/6;
    grid-column: 1/7;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(11) {
    grid-row: 3/4;
    grid-column: 5/9;
  }
}
@media (max-width: 800px) {
  main .trabajoSection .imgTrabajoConteiner {
    grid-template-rows: repeat(5, 250px);
    grid-template-columns: repeat(10, 1fr);
  }
  main .trabajoSection .imgTrabajoConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 5/8;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 8/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(4) {
    grid-row: 5/8;
    grid-column: 7/11;
    width: 350px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(5) {
    grid-row: 3/4;
    grid-column: 5/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(6) {
    grid-row: 4/5;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(7) {
    grid-row: 3/5;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(8) {
    grid-row: 5/6;
    grid-column: 1/7;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(9) {
    grid-row: 2/3;
    grid-column: 1/5;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(10) {
    grid-row: 4/5;
    grid-column: 5/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(11) {
    grid-row: 2/3;
    grid-column: 5/11;
  }
}
@media (max-width: 650px) {
  main .trabajoSection .imgTrabajoConteiner {
    grid-template-rows: repeat(5, 250px);
    grid-template-columns: repeat(10, 1fr);
  }
  main .trabajoSection .imgTrabajoConteiner img:first-child {
    grid-row: 2/3;
    grid-column: 1/6;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 1/9;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 9/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(4) {
    grid-row: 5/8;
    grid-column: 7/11;
    width: 350px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(5) {
    grid-row: 3/4;
    grid-column: 6/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(6) {
    grid-row: 4/5;
    grid-column: 1/6;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(7) {
    grid-row: 3/5;
    grid-column: 1/6;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(8) {
    grid-row: 5/6;
    grid-column: 1/7;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(9) {
    grid-row: 2/3;
    grid-column: 6/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(10) {
    grid-row: 4/5;
    grid-column: 6/11;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(11) {
    grid-row: 2/3;
    grid-column: 9/11;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 540px) {
  main .trabajoSection .imgTrabajoConteiner {
    grid-template-rows: repeat(8, 250px);
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
    overflow: hidden;
    margin-right: 0px;
    grid-gap: 5px;
  }
  main .trabajoSection .imgTrabajoConteiner img:first-child {
    grid-row: 2/3;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(4) {
    grid-row: 8/9;
    grid-column: 1/5;
    width: 500px;
    height: 300px;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(5) {
    grid-row: 6/7;
    grid-column: 3/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(6) {
    grid-row: 4/5;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(7) {
    grid-row: 6/8;
    grid-column: 1/3;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(8) {
    grid-row: 5/6;
    grid-column: 1/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(9) {
    grid-row: 3/4;
    grid-column: 1/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(10) {
    grid-row: 7/8;
    grid-column: 3/5;
  }
  main .trabajoSection .imgTrabajoConteiner img:nth-child(11) {
    grid-row: 3/4;
    grid-column: 3/5;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .divFormulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
main .divFormulario {
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}
main .divFormulario div h1 {
  font-size: 1.9em;
}
main .divFormulario .formulario {
  width: 80%;
}
main .divFormulario .formulario .label {
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
}
main .divFormulario .formulario .text {
  width: 100%;
  height: 200px;
  resize: none;
}
main .divFormulario .formulario .btn-form {
  background-color: #209052;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

footer {
  background: #3CB371;
}
footer .contacto {
  display: flex;
  margin-left: 10px;
}
footer .flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer .flexContainer .flexContainerIconos {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
footer .flexContainer .flexContainerIconos .iconosContainer {
  margin-left: 10px;
  display: inline-block;
  height: 150px;
  overflow: hidden;
}
footer .flexContainer .flexContainerIconos .iconosContainer ul .li-footer {
  margin-top: 20px;
}
footer .flexContainer .flexContainerIconos .iconosContainer ul .icono {
  margin-right: 10px;
}
footer .flexContainer .flexContainerIconos .iconosContainer ul .iconoFooter {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
footer .flexContainer .flexContainerIconos .iconosContainer ul .iconoFooter:hover {
  color: black;
  font-weight: 600;
  background-size: 100% 2px;
}
footer .flexContainer .flexContainerIconos .iconosContainer2 {
  margin-left: 5px;
}
footer .flexContainer .mapa {
  width: 500px;
  margin-right: 15px;
}
footer h6 {
  text-align: center;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 950px) {
  footer .contacto {
    margin: auto;
  }
  footer .flexContainer {
    flex-direction: column;
  }
  footer .flexContainer .flexContainerIconos {
    margin: auto;
  }
  footer .flexContainer .mapa {
    width: 100%;
  }
}
@media (max-width: 450px) {
  footer .flexContainer {
    margin-top: 8px;
  }
  footer .flexContainer .flexContainerIconos {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 220px;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer {
    margin-left: 0;
    margin-top: 0;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer ul {
    text-align: center;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer ul .li-footer {
    margin-top: 0;
    margin-bottom: 8px;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer2 {
    margin-left: 0;
    margin-top: 0;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer2 ul {
    text-align: center;
  }
  footer .flexContainer .flexContainerIconos .iconosContainer2 ul .li-footer {
    margin-top: 0;
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=main.css.map */