
                                     /* ESTILOS DEL INDEX //
                                    //                    // */

@keyframes sliderPodaAnimation {
            0% {background-image: url(poda/poda1.jpg )}
            33% {background-image: url(poda/poda2.jpg)}
            66% {background-image: url(poda/poda3.jpg);
                 background-position: 50% 23% ;}
            100% {background-image: url(poda/poda4.jpg)}
            
                                                      }    
          .sliderPoda  {
                         display: flex;                                 
                         width:100% ;
                         margin-top: 25px;
                         height: 500px;
                         flex-wrap: wrap; 
                         background-size: cover;
                         background-repeat: no-repeat;
                         background-position: center;                        
                         animation-name: sliderPodaAnimation ;
                         animation-duration: 15s;
                         animation-iteration-count: infinite; 
                                                }
                              

@keyframes sliderPiscinasAnimation {
              0%{background-image: url(piscinas/piscinas1.jpg );}
             33%{background-image: url(piscinas/piscinas2.jpg);
                 background-position: 50% 100%}
             66%{background-image: url(piscinas/piscinas3.jpg)}
            100%{background-image: url(piscinas/piscinas4.jpg)}
            
                                                                          }  
                      .sliderPiscinas{
                                       display: flex;                                 
                                       width: 400%;
                                       margin-top: 25px;
                                       overflow: hidden;
                                       height: 500px;
                                       flex-wrap: wrap;
                                       background-size: cover;
                                       background-position: center ;   
                                       animation-name: sliderPiscinasAnimation ;
                                       animation-duration: 15s;
                                       animation-iteration-count: infinite; }  
          
                                                   /*FIN DE ESTILOS DEL INDEX  //
                                                   //                         //*/

    



                                                    /*ESTILOS DE NOSOTROS //
                                                   //                     // 

.sobreNosotrosSection1 h2{ 
                           margin-bottom: 5px; 
                           margin-left: 10px; }
.sobreNosotrosSection1 p  {
                            margin-left: 10px; }   
.sobreNosotrosSection1 {
                        margin-top: 15px;
                        display: flex;  
                        flex-wrap: wrap;                  }

      .imgNosotrosConteiner{
                            margin-top: 15px;
                            display: grid;
                            grid-template-rows: repeat(2, 1fr); 
                            grid-template-columns: repeat(2, 1fr);
                            height: 500px; 
                            width: 100%;
                            grid-gap: 5px; 
 
                            
                                              }
                .imgSobreNosotros1 {  grid-column: 1/2;
                                      grid-row: 1/3;
                                      width: 100%;
                                      height: 100%;
                                    
                                    
                                                            }
                .imgSobreNosotros2 {
                                      grid-column: 2/3;
                                      grid-row: 1/3;
                                      width: 100%;
                                      height: 100%;
                                     
                                                     }                        
.sobreNosotrosSection2 p {
                          margin-left: 10px;
                          margin-bottom: 15px;
                                               }
.sobreNosotrosSection2 {
                         display: flex;
                         flex-wrap: wrap;
                         margin-top: 30px;
                         margin-bottom: 30px;
                        flex-direction: column;
                                               }
           .divSection2 {display: flex;
                        align-self: center;
                       
                        }
                    .imgSobreNosotros3{ width: 100%;
                                          

                                                      } */                     



                                                  /*FIN DE ESTILOS NOSTROS //
                                                  //                      //*/  




                                                  /*ESTILOS DE HERRAMIENTAS //
.herramientasSecction1 {
                         margin-top: 10px;
                                            }
.herramientasSecction1 h2  { margin-left: 15px; }
.herramientasSecction1 p  { margin-left: 15px; }


.herramientasSecction2 h2{ margin-left: 15px;}

.herramientasSecction2 {
                         margin-top: 10px;
                                            }
                    .imgHerramientasDePodaConteiner  { display: grid;
                                                       grid-template-rows: repeat(5, 250px);
                                                       grid-template-columns: repeat(8, 1fr);
                                                       margin-top: 15px;
                                                       margin-bottom: 25PX;
                                                       grid-gap: 5px; 
                                                       padding: 10px;             }                             
                                 .imgHerramientasDePoda { 
                                                          width: 100%;
                                                          height: 100%;
                                                                          }
                                                                          

.imgHerramientasDePodaConteiner img:first-child{
    grid-column: 1/4;
    grid-row: 1/3;
} 
.imgHerramientasDePodaConteiner img:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/3;
} 
.imgHerramientasDePodaConteiner img:nth-child(3) {
    grid-column: 1/5;
    grid-row: 3/5;
}  
.imgHerramientasDePodaConteiner img:nth-child(4) {
    grid-column: 7/9;
    grid-row: 1/3;
}  
.imgHerramientasDePodaConteiner img:nth-child(5) {
    grid-column: 5/9;
    grid-row: 3/5;
}  
.imgHerramientasDePodaConteiner img:nth-child(6) {
    grid-column: 1/4;
    grid-row: 5/6;
}  
.imgHerramientasDePodaConteiner img:nth-child(7) {
    grid-column: 4/7;
    grid-row: 5/6;
}  
.imgHerramientasDePodaConteiner img:nth-child(8) {
    grid-column: 7/9;
    grid-row:5/6;
} 


.imgHerramientasDePiscinasConteiner { display: grid;
                                      grid-template-rows: 250px 250px 350px;
                                      grid-template-columns: repeat(8, 1fr);
                                      margin-top: 15px;
                                      padding: 10px;
                                      grid-gap: 5px;
                                      margin-bottom: 25px;
                                                         } 
                               .imgHerramientasDePiscinas {
                                                            width: 100%;
                                                            height: 100%;
                                                                                 }

.imgHerramientasDePiscinasConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(2) {
    grid-row: 2/3;
    grid-column: 3/5;
}.imgHerramientasDePiscinasConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 5/7;
}.imgHerramientasDePiscinasConteiner img:nth-child(4) {
    grid-row: 1/3;
    grid-column: 1/3;
}.imgHerramientasDePiscinasConteiner img:nth-child(5) {
    grid-row: 2/3;
    grid-column: 5/7;
}
.imgHerramientasDePiscinasConteiner img:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/5;

}
.imgHerramientasDePiscinasConteiner img:nth-child(7) {
    grid-row: 3/4;
    grid-column: 5/9;
}
.imgHerramientasDePiscinasConteiner img:nth-child(8) {
    grid-row: 1/3;
    grid-column: 7/9;
}*/ 
    




  
                                                 /*FIN DE ESTILOS HERRAMIENTAS //
                                                 //                          //*/ 





                                                  /*ESTILOS DE TRABAJOS //
                                                 //                    //
.trabajoSection {
                  margin-top: 30px;
                                     }
      .h2Trabajo {
                  margin-bottom: 30px;
                  text-align: center;
                                       }
      .imgTrabajoConteiner {padding: 10px;
                            margin-top: 15px;
                            margin-left: 7px;
                            margin-bottom: 15px;
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            grid-template-rows: repeat(4, 250px);
                            grid-gap: 5px;                 }
                      .imgTrabajos   {
                                       width: 100%;
                                       height: 100%;
                                      }
.imgTrabajoConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 1/5;
}
.imgTrabajoConteiner img:nth-child(2){
    grid-row: 1/3;
    grid-column: 9/13;
}
.imgTrabajoConteiner img:nth-child(3){
    grid-row: 2/4;
    grid-column: 1/4;
    object-fit: initial;
} 
.imgTrabajoConteiner img:nth-child(4){
    grid-row: 1/2;
    grid-column:5/9;
} 
.imgTrabajoConteiner img:nth-child(5){
    grid-row: 4/5;
    grid-column: 5/10;
}
.imgTrabajoConteiner img:nth-child(6){
    grid-row: 4/5;
    grid-column: 1/5;
}
.imgTrabajoConteiner img:nth-child(7){
    grid-row: 2/3;
    grid-column: 4/7;
} 
.imgTrabajoConteiner img:nth-child(8){
    grid-row: 3/5;
    grid-column: 10/13;
} 

.imgTrabajoConteiner img:nth-child(9){
    grid-row: 3/4;
    grid-column: 8/10;
}

.imgTrabajoConteiner img:nth-child(10){
    grid-row: 2/3;
    grid-column: 7/9;
}  
  
.imgTrabajoConteiner img:nth-child(11){
    grid-row: 3/4;
    grid-column: 4/8;
}

.imgTrabajoConteiner img:nth-child(12){
    grid-row: 1/2;
    grid-column:5/9;
} 


*/





                                                 /*FIN DE ESTILOS TRABAJOS //
                                                //                        //*/

 

                                                 /*ESTILOS DE DEJANOS UN MENSAJE //
                                                 //                             //   
                                                 .divFormulario { 
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    flex-direction: column;
                                                    margin-bottom: 15px;
                                                                           }
                                      .formulario {width: 80%;}
                                            .text{
                                                   width: 100%;
                                                   height: 200px;
                                                   resize: none;             }                              
                                  .label { font-size: 20px; 
                                          font-family:'Roboto', sans-serif; ;}
                                    .btn-form {background-color: #209052;}*/
                                  
     


                              



@media (max-width: 950px){  /*Trabajos///////////*/

.imgTrabajoConteiner {
        grid-template-rows: repeat(6, 250px);
        grid-template-columns: repeat(10, 1fr);
        
                                              }


.imgTrabajoConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 1/7;

}
.imgTrabajoConteiner img:nth-child(2){
    grid-row: 1/3;
    grid-column: 7/11;
    
}
.imgTrabajoConteiner img:nth-child(3){
    grid-row: 2/4;
    grid-column: 1/5;
    object-fit: initial;
} 
.imgTrabajoConteiner img:nth-child(4){
    grid-row: 5/7;
    grid-column:7/11;
} 
.imgTrabajoConteiner img:nth-child(5){
    grid-row: 4/5;
    grid-column: 5/10;
}
.imgTrabajoConteiner img:nth-child(6){
    grid-row: 4/5;
    grid-column: 1/5;
}
.imgTrabajoConteiner img:nth-child(7){
    grid-row: 3/5;
    grid-column: 9/11;
} 
.imgTrabajoConteiner img:nth-child(8){
    grid-row: 6/7;
    grid-column: 1/7;
} 

.imgTrabajoConteiner img:nth-child(9){
    grid-row: 2/3;
    grid-column: 5/7;
    object-fit: cover;
}

.imgTrabajoConteiner img:nth-child(10){
    grid-row: 5/6;
    grid-column: 1/7;
}  
  
.imgTrabajoConteiner img:nth-child(11){
    grid-row: 3/4;
    grid-column: 5/9;
}



                             /*///////// ESTILOS DE FOOTER ///*/

                             .contacto {
                                margin: auto;
                                              }
                    .flexContainer {
                                    flex-direction: column;
                                                             }
                             .flexContainerIconos { 
                                                   margin: auto; 
                                                                 }
                    .mapa {
                            width: 100%; 
                                          }

                                        }


@media (max-width: 883px){
                           .logoConteiner {margin: auto;}
                           .nav  {margin: auto;}

                           
}

@media (max-width: 800px) {    




                                /*///  ESTILOS TRABAJOS  ///////////*/



.imgTrabajoConteiner {
                        grid-template-rows: repeat(5, 250px);
                        grid-template-columns: repeat(10, 1fr);
                                                                }


.imgTrabajoConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 1/5;

}
.imgTrabajoConteiner img:nth-child(2){
    grid-row: 1/2;
    grid-column: 5/8;
}
.imgTrabajoConteiner img:nth-child(3){
    grid-row: 1/2;
    grid-column: 8/11;
   
} 
.imgTrabajoConteiner img:nth-child(4){
    grid-row: 5/8;
    grid-column:7/11;
    width: 350px;
    height: 250px;
   object-fit: cover;
} 
.imgTrabajoConteiner img:nth-child(5){
    grid-row: 3/4;
    grid-column: 5/11;
}
.imgTrabajoConteiner img:nth-child(6){
    grid-row: 4/5;
    grid-column: 1/5;
}
.imgTrabajoConteiner img:nth-child(7){
    grid-row: 3/5;
    grid-column: 1/5;
} 
.imgTrabajoConteiner img:nth-child(8){
    grid-row: 5/6;
    grid-column: 1/7;
} 

.imgTrabajoConteiner img:nth-child(9){
    grid-row: 2/3;
    grid-column: 1/5;
    object-fit: cover;
}

.imgTrabajoConteiner img:nth-child(10){
    grid-row: 4/5;
    grid-column: 5/11;
}  
  
.imgTrabajoConteiner img:nth-child(11){
    grid-row: 2/3;
    grid-column: 5/11;
}

                                /*/// FIN DE  ESTILOS TRABAJOS  ///////////*/


                              /*///  ESTILOS HERRAMIENTAS  ///////////*/
 .imgHerramientasDePodaConteiner  { 
                                     grid-template-rows: repeat(3, 250px);
                                     grid-template-columns: repeat(8, 1fr);
                                                                              }
.imgHerramientasDePodaConteiner img:first-child{
    grid-column: 1/4;
    grid-row: 1/2;
} 
.imgHerramientasDePodaConteiner img:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/2;
} 
.imgHerramientasDePodaConteiner img:nth-child(3) {
    grid-column: 1/5;
    grid-row: 2/3;
}  
.imgHerramientasDePodaConteiner img:nth-child(4) {
    grid-column: 7/9;
    grid-row: 1/2;
}  
.imgHerramientasDePodaConteiner img:nth-child(5) {
    grid-column: 5/9;
    grid-row: 2/3;
}  
.imgHerramientasDePodaConteiner img:nth-child(6) {
    grid-column: 1/4;
    grid-row: 3/4;
}  
.imgHerramientasDePodaConteiner img:nth-child(7) {
    grid-column: 4/7;
    grid-row: 3/4;
}  
.imgHerramientasDePodaConteiner img:nth-child(8) {
    grid-column: 7/9;
    grid-row:3/4;
}  


.imgHerramientasDePiscinasConteiner { 
                                      grid-template-rows: 250px 250px;
                                      grid-template-columns: repeat(8, 1fr);
                                      
                                                         } 
                               

.imgHerramientasDePiscinasConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(2) {
    
     grid-row: 1/2;
    grid-column: 7/9;
}.imgHerramientasDePiscinasConteiner img:nth-child(3) {
    grid-row: 1/2;
    grid-column: 5/7;
}.imgHerramientasDePiscinasConteiner img:nth-child(4) {
    grid-row: 1/2;
    grid-column: 1/3;
}.imgHerramientasDePiscinasConteiner img:nth-child(5) {
    grid-row: 2/3;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(6) {
    grid-row: 2/3;
    grid-column: 1/3;
}
.imgHerramientasDePiscinasConteiner img:nth-child(7) {
    grid-row: 2/3;
    grid-column: 7/9;
}
.imgHerramientasDePiscinasConteiner img:nth-child(8) {
    grid-row: 2/3;
    grid-column: 5/7;
}
    

}



                        /*/// FIN DE ESTILOS HERRAMIENTAS  ///////////*/




@media (max-width: 650px) {    /*ESTILOS INDEX////////*/

@keyframes sliderPresentacionAnimation {
            0% {background-image: url(presentacion/presentacion1.jpg );
                background-position: 90% 100%;}
            50% {background-image: url(presentacion/presentacion2.jpg)}
            100% {background-image: url(presentacion/presentacion3.jpg)}

}

                                 /*FIN DE ESTILOS INDEX////////*/


                                /*ESTILOS NOSOTROS/////////*/

    .imgNosotrosConteiner{
                            grid-template-rows: repeat(2, 300PX); 
                            grid-template-columns: repeat(2, 1fr);
 
                                              }
                .imgSobreNosotros1 {  grid-column: 1/3;
                                      grid-row: 1/2;
                                    
                                    
                                                            }
                .imgSobreNosotros2 {
                                      grid-column: 1/3;
                                      grid-row: 2/3;
                                     
                                                     }
.sobreNosotrosSection2 {margin-top: 120px;}





                                   /*FIN DE ESTILOS NOSOTROS////////*/




                                /*///  ESTILOS TRABAJOS  ///////////*/



.imgTrabajoConteiner {
                      grid-template-rows: repeat(5, 250px);
                      grid-template-columns: repeat(10, 1fr);
        
                                                                }


.imgTrabajoConteiner img:first-child {
    grid-row: 2/3;
    grid-column: 1/6;

}
.imgTrabajoConteiner img:nth-child(2){
    grid-row: 1/2;
    grid-column: 1/9;
}
.imgTrabajoConteiner img:nth-child(3){
    grid-row: 1/2;
    grid-column: 9/11;
   
} 
.imgTrabajoConteiner img:nth-child(4){
    grid-row: 5/8;
    grid-column:7/11;
    width: 350px;
    height: 250px;
   object-fit: cover;
} 
.imgTrabajoConteiner img:nth-child(5){
    grid-row: 3/4;
    grid-column: 6/11;
}
.imgTrabajoConteiner img:nth-child(6){
    grid-row: 4/5;
    grid-column: 1/6;
}
.imgTrabajoConteiner img:nth-child(7){
    grid-row: 3/5;
    grid-column: 1/6;
} 
.imgTrabajoConteiner img:nth-child(8){
    grid-row: 5/6;
    grid-column: 1/7;
} 

.imgTrabajoConteiner img:nth-child(9){
    grid-row: 2/3;
    grid-column: 6/9;
    object-fit: cover;
}

.imgTrabajoConteiner img:nth-child(10){
    grid-row: 4/5;
    grid-column: 6/11;
}  
  
.imgTrabajoConteiner img:nth-child(11){
    grid-row: 2/3;
    grid-column: 9/11;
    object-fit: cover;
}

                          
                             /*FIN DE ESTILOS TRABAJOS////////*/




}



@media (max-width: 540px) {  

    /*///  ESTILOS TRABAJOS  ///////////*/


.imgTrabajoConteiner {
        grid-template-rows: repeat(8, 250px);
        grid-template-columns: repeat(4,1fr);
        padding: 0px;
        overflow: hidden;  
        margin-right: 0px;
        grid-gap: 5px;           }


.imgTrabajoConteiner img:first-child {
    grid-row: 2/3;
    grid-column: 1/5;

}
.imgTrabajoConteiner img:nth-child(2){
    grid-row: 1/2;
    grid-column: 1/3;
}
.imgTrabajoConteiner img:nth-child(3){
    grid-row: 1/2;
    grid-column: 3/5;
   
} 
.imgTrabajoConteiner img:nth-child(4){
    grid-row: 8/9;
    grid-column:1/5;
    width: 500px;
    height: 300px;
   
} 
.imgTrabajoConteiner img:nth-child(5){
    grid-row: 6/7;
    grid-column: 3/5;
}
.imgTrabajoConteiner img:nth-child(6){
    grid-row: 4/5;
    grid-column: 1/5;
}
.imgTrabajoConteiner img:nth-child(7){
    grid-row: 6/8;
    grid-column: 1/3;
} 
.imgTrabajoConteiner img:nth-child(8){
    grid-row: 5/6;
    grid-column: 1/5;
} 

.imgTrabajoConteiner img:nth-child(9){
    grid-row: 3/4;
    grid-column: 1/3;
    object-fit: cover;
}

.imgTrabajoConteiner img:nth-child(10){
    grid-row: 7/8;
    grid-column: 3/5;
}  
  
.imgTrabajoConteiner img:nth-child(11){
    grid-row: 3/4;
    grid-column: 3/5;
    object-fit: cover;
}



 
                        /*/// FIN DE ESTILOS TRABAJOS  ///////////*/


                         /*///  ESTILOS HERRAMIENTAS  ///////////*/
.imgHerramientasDePodaConteiner  { 
                                     grid-template-rows: repeat(4, 250px);
                                     grid-template-columns: repeat(8, 1fr);
                                                                            }
.imgHerramientasDePodaConteiner img:first-child{
    grid-column: 1/5;
    grid-row: 1/2;
} 
.imgHerramientasDePodaConteiner img:nth-child(2) {
    grid-column: 5/9;
    grid-row: 1/2;
} 
.imgHerramientasDePodaConteiner img:nth-child(4) {
    grid-column: 1/5;
    grid-row: 2/3;
}  
.imgHerramientasDePodaConteiner img:nth-child(3) {
    grid-column: 1/5;
    grid-row: 4/5;
}  
.imgHerramientasDePodaConteiner img:nth-child(8) {
    grid-column: 5/9;
    grid-row: 2/3;
}  
.imgHerramientasDePodaConteiner img:nth-child(6) {
    grid-column: 1/5;
    grid-row: 3/4;
}  
.imgHerramientasDePodaConteiner img:nth-child(7) {
    grid-column: 5/9;
    grid-row: 3/4;
}  
.imgHerramientasDePodaConteiner img:nth-child(5) {
    grid-column: 5/9;
    grid-row:4/5;
}  

.imgHerramientasDePiscinasConteiner { 
                                      grid-template-rows: repeat(3, 250px);
                                      grid-template-columns: repeat(4, 1fr);
                                      
                                                         } 
                               

.imgHerramientasDePiscinasConteiner img:first-child {
    grid-row: 1/2;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(2) {
    grid-row: 2/3;
    grid-column: 3/5;
}.imgHerramientasDePiscinasConteiner img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/3;
}.imgHerramientasDePiscinasConteiner img:nth-child(4) {
    grid-row: 1/2;
    grid-column: 1/3;
}.imgHerramientasDePiscinasConteiner img:nth-child(5) {
    grid-row: 3/4;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(6) {
    grid-row: 3/4;
    grid-column: 1/3;
}
.imgHerramientasDePiscinasConteiner img:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/5;
}
.imgHerramientasDePiscinasConteiner img:nth-child(8) {
    grid-row: 3/4;
    grid-column: 1/3;
}

                        /*/// FIN DE ESTILOS HERRAMIENTAS  ///////////*/

}




@media (max-width: 481px){ .nav{ flex-direction: column; 
                            }
                            .divFormulario { 
                                             display: flex;
                                             flex-direction: column; 
                                             justify-content: center;
                                                                      
                                            }
.cuadradito{ width: 100%; }
.text {
        width: 100%;
        justify-content: center;
        margin-left: 0px;}
           main{margin: auto;}
           body{margin: auto;}

}

@media (max-width: 450px) { .flexContainer{
                                           margin-top: 8px;
                                                            }

                            .flexContainerIconos {
                                                   display: flex; 
                                                   flex-direction: column;
                                                   justify-content: center;
                                                   width: 100% ; 
                                                   height: 220px;
                                                                           }
                              .iconosContainer2 {
                                                  margin-left: 0;
                                                  margin-top: 0;
                                                                  }
                                   .li-footer {
                                               margin-top: 0;
                                               margin-bottom: 8px;
                                                                   }
ul {text-align: center;}}
