
                                     /* ESTILOS DEL INDEX //
                                    //                    // */
@keyframes sliderPodaAnimation {
            0% {background-image: url(poda/poda1.jpg )}
            33% {background-image: url(poda/poda2.jpg)}
            66% {background-image: url(poda/poda3.jpg);
                 background-position: 50% 23% ;}
            100% {background-image: url(poda/poda4.jpg)}
            
                                                      }    
          .sliderPoda  {
                         display: flex;                                 
                         width:100% ;
                         margin-top: 25px;
                         height: 500px;
                         flex-wrap: wrap; 
                         background-size: cover;
                         background-repeat: no-repeat;
                         background-position: center;                        
                         animation-name: sliderPodaAnimation ;
                         animation-duration: 15s;
                         animation-iteration-count: infinite; 
                                                }

                              

@keyframes sliderPiscinasAnimation {
              0%{background-image: url(piscinas/piscinas1.jpg );}
             33%{background-image: url(piscinas/piscinas2.jpg);
                 background-position: 50% 100%}
             66%{background-image: url(piscinas/piscinas3.jpg)}
            100%{background-image: url(piscinas/piscinas4.jpg)}
            
                                                                          }  
                      .sliderPiscinas{
                                       display: flex;                                 
                                       width: 400%;
                                       margin-top: 25px;
                                       overflow: hidden;
                                       height: 500px;
                                       flex-wrap: wrap;
                                       background-size: cover;
                                       background-position: center ;   
                                       animation-name: sliderPiscinasAnimation ;
                                       animation-duration: 15s;
                                       animation-iteration-count: infinite; }  
          
                                                   /*FIN DE ESTILOS DEL INDEX  //
                                                   //                         //*/

@media (max-width: 650px) {    /*ESTILOS INDEX////////*/

@keyframes sliderPresentacionAnimation {
            0% {background-image: url(presentacion/presentacion1.jpg );
                background-position: 90% 100%;}
            50% {background-image: url(presentacion/presentacion2.jpg)}
            100% {background-image: url(presentacion/presentacion3.jpg)}

}

                                
}