
                                     /* ESTILOS DEL INDEX //
                                    //                    // */
@keyframes sliderPodaAnimation {
            0% {background-image: url(poda/poda1.jpg )}
            33% {background-image: url(poda/poda2.jpg)}
            66% {background-image: url(poda/poda3.jpg);
                 background-position: 50% 23% ;}
            100% {background-image: url(poda/poda4.jpg)}
            
                                                      }    
          .sliderPoda  {
                         display: flex;                                 
                         width:100% ;
                         margin-top: 25px;
                         height: 500px;
                         flex-wrap: wrap; 
                         background-size: cover;
                         background-repeat: no-repeat;
                         background-position: center;                        
                         animation-name: sliderPodaAnimation ;
                         animation-duration: 15s;
                         animation-iteration-count: infinite; 
                                                }

                              

@keyframes sliderPiscinasAnimation {
              0%{background-image: url(piscinas/piscinas1.jpg );}
             33%{background-image: url(piscinas/piscinas2.jpg);
                 background-position: 50% 100%}
             66%{background-image: url(piscinas/piscinas3.jpg)}
            100%{background-image: url(piscinas/piscinas4.jpg)}
            
                                                                          }  
                      .sliderPiscinas{
                                       display: flex;                                 
                                       width: 400%;
                                       margin-top: 25px;
                                       overflow: hidden;
                                       height: 500px;
                                       flex-wrap: wrap;
                                       background-size: cover;
                                       background-position: center ;   
                                       animation-name: sliderPiscinasAnimation ;
                                       animation-duration: 15s;
                                       animation-iteration-count: infinite; }  
          
                                                   /*FIN DE ESTILOS DEL INDEX  //
                                                   //                         //*/

@media (max-width: 650px) {    /*ESTILOS INDEX////////*/

@keyframes sliderPresentacionAnimation {
            0% {background-image: url(presentacion/presentacion1.jpg );
                background-position: 90% 100%;}
            50% {background-image: url(presentacion/presentacion2.jpg)}
            100% {background-image: url(presentacion/presentacion3.jpg)}

}
                                
}
/*ESTILOS DE LA PÁGINA 404*/
.body404{ 
          background-image: url(error/error.webp) ;
          background-repeat: no-repeat;
          background-size:cover ;
          width: 100vw;
          height: 100vh;
          margin: 0;
          padding: 0;
        }
     
.opaco{background-color: black;
       position: relative;
       opacity: 0.4;
       width: 100vw;
       height: 100vh;}
.error {
           position: absolute;
           color: #fff;
           left: 10em;
           top:2em;
           font-size: 3em;
           display: flex;
           flex-wrap: wrap;

          }
.contenido{ 
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            color: #fff;
            left: 23em;
            top: 18em;
            font-size: 1.5em;

          }
          a{ color: #fff;
       }
@media (max-width: 994px)
       {
             .error {left: 2em;}   
             .contenido {
                         left: 5em;
                         top: 14em;
                       } 
        }
@media (max-width: 610px)
       {
            .error {
                      left: 2em;
                      font-size: 2em;
                      top: 4em;
                     left: 3.5em;
                    }   
            .contenido {
                         left: 1em;
                         top: 12em;
                        } 
        }

@media (max-width: 456px)
       {
        .error {left: 1em;} 
       }
